# copy this file to .env and fill values
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

BALE_API_ACCESS_KEY=put-your-bale-safir-api-key-here
BALE_BOT_ID=YOUR_BOT_ID
BALE_SEND_URL=https://safir.bale.ai/api/v3/send_message
BALE_REQUEST_TIMEOUT=20
BALE_DEFAULT_SLEEP_SECONDS=0.4
BALE_DEFAULT_BUTTON_TEXT=ثبت‌نام در سایت
BALE_DEFAULT_BUTTON_URL=https://helssa.ir
