# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
reports/*.xlsx
reports/*.csv
input/*.xlsx
input/*.xls
input/*.csv

# Secrets
.env
*.env
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
